
nav {
  width: 100%;
  height: 6.5rem;
  background: var(--lightBlue);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Barlow;
  z-index: 100;
}
  
.nav-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

nav svg {
  width: 170px;
  height: 33px;
  transition: color 1s;
  color: #fff;
  align-self: center;
  justify-self: center;
}

nav svg:hover {
  color: var(--dark-desaturated-blue);
}

.nav-links a {
  font-family: Barlow;
  font-weight: 600;
  line-height: 1.4;
  color: var(--white);
  margin-left: 3rem;
  transition: color 1s;
  letter-spacing: -0.128px;
  text-align: left;
}

.nav-links a:hover {
  color: var(--dark-desaturated-blue);
}

.nav-links button {
  font-family: Fraunces;
  font-size: 0.83rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.1px;
  padding: 0.9rem;
  width: 7.7rem;
  background: (--white);
  color: var(--contact);
  margin-left: 3rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background 1s;
}

.nav-links button:hover {
  background: var(--white-off);
}
  
/* ------------------------------ 950px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 950px) {
  nav {
    height: 7rem;
  } 
}

/* ------------------------------ 900px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 900px) {
  nav {
    height: 6rem;
  } 
}

/* ------------------------------ 900px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 900px) {
  .clients {
    width: 95%;
  }
  .client-blurb {
    width: 23rem;
  }
}

/* ------------------------------ 800px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 800px) {
  nav {
    height: 6rem;
  } 
}

/* ------------------------------ 750px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 750px) {
  nav {
    height: 5.5rem;
  } 

  .logo {
    height: 24px;
    width: auto;
  }
}


/* ------------------------------ 650px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 650px) {
  
  .nav-container {
    width: 90%;
  }

  nav {
    height: 8rem;
  } 
}

/* ------------------------------ 480px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 480px) {

  nav {
    height: 5rem;
  } 
}