
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 18rem;
  height: 100vh;
  background: var(--lightBlue);
  color: var(--white);
  font-family: Barlow;
  box-sizing: border-box;
  box-shadow: -0.1rem 0 0.5rem rgba(0, 0, 0, 0.3);
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  z-index: 300;
  display: none;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.sidebar-x i {
	position: absolute;
  right: 2.5rem;
  top: 2.5rem;
	font-size: 3rem;
	cursor: pointer;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 0.2rem solid #eee;
}
  
.menu-item {
  margin: 1.5rem 0;
}

.menu-link {
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white);
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark-desaturated-blue);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}



/* ------------------------------ 800px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 800px) {
  .sidebar-social-icons {
    width: 40%;
  }
}


/* ------------------------------ 750px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 750px) {
  .nav-links {
      display: none;
  }
}

/* ------------------------------ 480px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 480px) {
  .sidebar-x i {
    right: 1.5rem;
    top: 1.5rem;
    font-size: 2rem;
  }
  .menu-item {
    margin: 1rem 0;
  }

  .menu-link {
    font-size: 1.1rem;
  }
}



/* ------------------------------ 300px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 300px) {
  .sidebar-header h2 {
    
    padding-top: 2rem;
    
  }
}

  