
/* ---- Sections About and Projects have a tile with just text: h2 + p + p (Learn more) */
.text-container {
    width: 48%;
    font-size: 1.2rem;
}

.about h2 {
    width: 65%;
}

/* --- Hide horizontal white space between sections ---*/
section {
    margin-top: -0.3rem;
}

.about-img-tile {
    margin-left: -0.04rem;
}
/* --- Hide horizontal+vertical white space between sections ---*/


.projects h2 {
    width: 80%;
}

.text-container h2 {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--dark-desaturated-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-text-text {
    font-family: Barlow;
    color: var(--grayish-blue);
    margin-bottom: 3rem;
    line-height: 2rem;
}

.learn-more {
    font-family: Fraunces;
    text-transform: uppercase;
    color: var(--dark-desaturated-blue);
    position: relative;
    margin-left: 0.4rem;
    width: 8.5rem;
    text-align: center;
}

.learn-more::before {
    content: "";
    width: 110%;
    height: 0.8rem;
    position: absolute;
    left: -5%;
    bottom: -0.2rem;
    border-radius: 2rem;
    z-index: -1;
}

.about .learn-more::before {
    background-color: var(--yellow-underline);
}

.services .learn-more::before {
    background-color: var(--softRed-underline);
}

