
.attribution { 
    font-size: 12px; 
    text-align: center;
    background: var(--footer-bg);
    color: var(--cyan-footer);
    padding-bottom: 0.5rem;
}

.attribution a { 
    color: var(--footer-link); 
}
    