header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header-container {
  margin: 0;
  padding: 0;
  align-items: center; 
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header-container img {
  width: 100%;
  object-fit:cover;
  overflow: hidden;
  object-position: bottom center;
  margin-bottom: -0.3rem;
}

.heading h1 {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--white);
  text-align: center;
  font-family: Fraunces;
  font-style: normal;
  letter-spacing: 8.75px;
  line-height: 1.2;
  font-size: 3.1rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 200;
}


/* ----------------------------- 1000px ------------------------------ */
/* ------------------------------------------------------------------- */
@media (max-width: 1000px) {
  .heading {
    width: 60%;
  } 
}

/* ------------------------------ 850px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 850px) {
  .heading h1 {
    letter-spacing: 5px;
  }
}

/* ------------------------------ 800px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 800px) {

  .heading h1 {
    letter-spacing: 3px;
  }

}

/* ------------------------------ 650px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 650px) {
  .heading {
    width: 50%;
  }

  .heading h1 {
    letter-spacing: 8.75px;
    font-size: 5rem;
    line-height: 1.4;
  }
}

/* ------------------------------ 480px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 480px) {
  .heading h1 {
    font-size: 2.2rem;
    letter-spacing: 6.25px;
    top: 35%;
  }
}


/* ------------------------------ 350px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 350px) {
  .heading h1{
    font-size: 1.8rem;
    letter-spacing: 6px;
  }
}
