header {
  background: url(images/desktop/image-header-arrow.png) no-repeat center bottom / cover;
  width: 100%;
  
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  overflow: hidden;
  /*to hide the negative top margin of the yellow tile  */
  /* z-index: 50; */
}

/* .header-container {
  
  /* min-height: 100vh;
  /* max-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  overflow: hidden; */
  /*to hide the negative top margin of the yellow tile  */
  /* z-index: 50;  */

/* 
.header-container img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
} */

.heading {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--white);
  text-align: center;
  font-family: Fraunces;
  font-style: normal;
  letter-spacing: 8.75px;
  line-height: 1.2;
  font-size: 1.457rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  z-index: 200;
}



