main {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tiles-container {
    width: 100%;
    display: flex;
    position: relative;
    
}


.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    overflow: hidden;
    width: 50%;
}

.tile img {
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

.img-text img {
    width: 100%;
}

.img-text-right {
    /* position: absolute;
    left: 50%; */
    /* background: var(--lightBlue); */
}
