
nav {
  position: fixed;
  background: var(--lightBlue);
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 100;
}

#hamburger-icon {
  display: none;
}

.header-logo {
  width: 170px;
}

nav svg {
  color: #fff;
  transition: color 1s;
}

nav svg:hover {
  color: var(--dark-desaturated-blue);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  font-size: 1.1rem;
  font-family: Barlow;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.14px;
  color: white;
  margin-left: 3rem;
  transition: color 1s;
  letter-spacing: -0.128px;
  text-align: left;
}

.nav-links a:hover {
  color: var(--dark-desaturated-blue);
}

.nav-links button {
  font-family: Fraunces;
  font-size: 0.83rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  padding: 0.88rem 1.76rem;
  background: (--white);
  color: var(--contact);
  margin-left: 3rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background 1s;
}

.nav-links button:hover {
  background: var(--white-off);
}
  
/*******************************************************/
/************************ ACTIVE ***********************/
#hamburger-menu.active {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

nav .active {
  background-color: var(--white);
  left: 2rem;
  right: 2rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9rem;
}

nav .active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: var(--white);
  border-top: 0;
  border-right: 0;
  margin-left: -12px;
  margin-top: -24px;
}

nav .active a {
  margin: 1rem;
  color: var(--nav-active);
  font-size: 1.5rem;
  font-family: Barlow;
  letter-spacing: -0.14px;
  line-height: 1.2;
}

nav .active button {
  background-color: var(--yellow);
  padding: 0.88rem 1.76rem;
  margin-inline: auto;
  margin-top: 1rem;
  color: var(--contact);
  font-family: Fraunces;
  border-radius: 4rem;
  font-size: 1.2rem;
  text-align: center;
  }
/************************END OF ACTIVE ***********************/



/* ------------------------------ 600px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 600px) {
  #hamburger-icon {
    display: block;
    cursor: pointer; 
    background: transparent;
    border: none;
  }

  #hamburger-menu {
    display: none;
  }
}

/* ------------------------------ 550px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 550px) {
  nav .active a {
    font-size: 1.7rem;
  }

  nav .active #contact {
    font-size: 1.4rem;
  }
}

/* ------------------------------ 480px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 480px) {
  #hamburger-menu.active {
    padding: 1rem 0 2rem 0;
  }

  nav .active {
    top: 6rem;
  }

  nav .active a {
    font-size: 1.1rem;
  }

  
  nav .active button {
    font-size: 0.83rem;
  }

  .header-logo {
    width: 124px;
  }
} 

/* ------------------------------ 400px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 400px) {
  nav {
    padding: 2rem 1rem;
  }
  nav .active {
    left: 1rem;
    right: 1rem;
  }
}

/* ------------------------------ 300px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 300px) {
  nav {
    padding: 1rem 0.5rem;
  }
  nav .active {
    top: 4rem;
    left: 0.5rem;
    right: 0.5rem;
  }

  nav .active a {
    margin: 0.5rem;
  }
}

