/************** 1. GENERAL STYLES *****************/

/* # Front-end Style Guide

## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px */

/* ## Typography
### Body Copy
- Font size: 18px

### Font
- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900 */

/* --------------- Z Index --------------- 

.header-container: 50 (to hide the negative top margin of the yellow tile)
.nav (navbar): 100
.heading (h1): 200
.sidebar: 300
.hamburger-menu: 400
*/

:root {
  --softRed: hsl(7, 99%, 70%);
  --softRed-underline: hsla(7, 99%, 70%, 0.2);
  --yellow: hsl(51, 100%, 49%);
  --yellow-underline: hsla(51, 100%, 49%,0.2);
  --lightBlue: hsl(200,100%,62%);

  --cyan-graphic-text-h: hsl(167, 40%, 24%);
  --cyan-graphic-text-p: hsla(167, 40%, 24%, 0.7);
  --blue-photography-text-h: hsl(198, 62%, 26%);
  --blue-photography-text-p: hsla(198, 62%, 26%, 0.7);
  --cyan-footer: hsl(168, 34%, 41%);
  --footer-bg: hsl(167,44%,70%);
  
  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --footer-link: hsl(31,99%,50%);
}
  
  
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
  

  
  
  