/* to fill the gap between graphic design and photography tiles */
/* --- Hide horizontal white space between sections ---*/
.projects {
    margin-top: -0.5rem;
}

.tile {
    margin-right: -0.002rem;
}

/* ---------------Graphic Design + Photography ---------------*/
.img-text {
    position: relative;
}

.img-text-img {
    flex-basis: 50%;
    min-width: 50%;
    flex-shrink: 0;
}

.img-text-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-text-text {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}


.img-text-text h2 {
    text-align: center;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 1.55rem;
    line-height: 1.94;
    margin-bottom: 1rem;
    letter-spacing: -0.2px;
}

.img-text-text p {
    text-align: center;
    width: 20rem;
    line-height: 2rem;
    font-family: Barlow;
    font-size: 0.88rem;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 1.68;
}

.graphic .img-text-text h2 {
    color: var(--cyan-graphic-text-h);
}

.graphic .img-text-text p {
    color: var(--cyan-graphic-text-p);
}

.photography .img-text-text h2 {
    color: var(--blue-photography-text-h);
}

.photography .img-text-text p {
    color: var(--blue-photography-text-p);
}