footer {
    position: relative;
    background: var(--footer-bg);
    margin-top: -0.4rem;
    padding-top: 21%;
    font-family: Barlow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    position: absolute;
    /* height: 58%; */
    top: 23%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 2rem; */
    
}

.footer-links  {
    margin: 2rem 0 5rem 0;
    color: var(--cyan-footer);   
}


.footer-links a {
    color: hsla(167, 34%, 41%, 1);
    margin: 0 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.13;
    transition: color 1s;
}

.footer-links a:hover {
    color: var(--footer-link);
}

.social-icons {
    margin-bottom: 2rem;
    display: flex;
}

.social-icons i {
    font-size: 1.4rem;
    width: 2rem;
    height: 2rem;
    color: var(--cyan-footer);
    margin: 0 0.3rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 1s;
}

.social-icons i:hover {
    color: var(--footer-link)
}
