footer {
    /* position: relative; */
    background: var(--footer-bg);
    margin-top: -0.4rem;
    padding-top: 4rem;
    font-family: Barlow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

footer .logo {
    margin-bottom: 2.5rem;

}
.footer-container {
    /* position: absolute; */
    /* top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.footer-links  {
    /* margin: 2rem 0 4.5rem 0; */
    color: var(--cyan-footer); 
    margin-bottom: 4rem;  
}


.footer-links a {
    color: hsla(167, 34%, 41%, 1);
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.13;
    transition: color 1s;
}

.footer-links a:hover {
    color: var(--white);
}

.social-icons {
    display: flex;
    margin-bottom: 1.5rem;
}

.social-icons svg {
    margin: 0 0.8rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 1s;
}

svg {
    color: hsla(168, 45%, 32%, 1);
}

svg:hover {
    color: white;
}

.attribution { 
    font-size: 12px; 
    text-align: center;
    color: hsla(168, 45%, 32%, 1);
    padding: 2rem 0 0.5rem 0;
}

.attribution a { 
    color: var(--white); 
}





/* ------------------------------ 450px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 450px) {
    .footer-links a {
      margin: 0 1rem;
    }
}

/* ------------------------------ 300px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 300px) {  
    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-links a{
    margin: 1rem 0;
    }
  
    .attribution { 
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
  
    .attribution a { 
      color: var(--white); 
    }
  
}