/************** 1. GENERAL STYLES *****************/

/* # Front-end Style Guide

## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px */

/* ## Typography
### Body Copy
- Font size: 18px

### Font
- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900 */

/* --------------- Z Index --------------- 

.header-container: 50 (to hide the negative top margin of the yellow tile)
.nav (navbar): 100
.heading (h1): 200
.sidebar: 300
.hamburger-menu: 400
*/

/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap'); */

:root {
  --softRed: hsl(7, 99%, 70%);
  --softRed-underline: hsla(7, 99%, 70%, 0.2);
  --yellow: hsl(51, 100%, 49%);
  
  --yellow-underline: hsla(51, 100%, 49%, 0.25);
  --lightBlue: hsl(200,100%,62%);

  --cyan-graphic-text-h: hsla(166, 40%, 24%, 1);

  --cyan-graphic-text-p: hsla(166, 30%, 35%, 1);



  --blue-photography-text-h:  hsla(197, 86%, 12%, 0.75);

  --blue-photography-text-p: hsla(198, 62%, 26%, 1);



  --cyan-footer: hsl(168, 34%, 41%);
  --footer-bg: hsl(167,44%,70%);
  
  --dark-desaturated-blue: hsla(211, 26%, 19%, 1);

  --contact: hsla(212, 27%, 19%, 1);

  --very-dark-grayish-blue: hsl(213, 9%, 39%);

  --dark-grayish-blue:hsla(213, 9%, 39%, 1);
  

  --grayish-blue: hsla(233, 10%, 55%, 1);
 
  background: hsla(210, 4%, 67%, 1);


  --white: hsl(0, 0%, 100%);

  --footer-link: hsl(31,99%,50%);
}
  
  
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  
}

html {
  font-size: 112.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  border: none;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tile,
.testimonials {
  background: white;
}

.img {
  display: block;
}


  
  
  