.hamburger-container {
    width: 24px;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 200;
    display: none;
}

.hamburger-container img {
    width: 100%;
    align-self: center;
    justify-self: center;
}


/* ------------------------------ 750px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 750px) {
    .hamburger-container {
      display: block;
      cursor: pointer; 
    }
}  

