/* #hamburger-icon {
    width: 24px;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 200;
    display: none;
}

#hamburger-icon img {
    width: 100%;
    align-self: center;
    justify-self: center;
} */


/* ------------------------------ 750px ------------------------------- */
/* -------------------------------------------------------------------- */
/* @media (max-width: 750px) {
    #hamburger-icon {
      display: block;
      cursor: pointer; 
      background: transparent;
      border: none;
    }
}   */

