header {
  width: 100%;
  max-height: 100vh;
}

.header-container {
  /* not sure why this is needed to ensure the height of the pic = height of viewport */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  overflow: hidden;
  /*to hide the negative top margin of the yellow tile  */
  z-index: 50;
}

.header-container img {
  /* not sure why this is needed to ensure the height of the pic = height of viewport */
  margin-top: -8rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  z-index: 50;
}
